.header {
    position: sticky;
    top: 0;
    background-color: #fff;
    min-height: 100px;
    padding-top: 5px;
}

.phone-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &__time {
        font-weight: 500;
        font-size: 16px;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    &__nick {
        font-size: 22px;
        font-weight: 600;
        letter-spacing: -1px;

        &-menu-open {
            cursor: pointer;
            &:hover {
                color: #252525b6;
            }
        }
    }

    &__options {
        display: flex;
        align-items: center;
        gap: 20px;

        @media (max-width: 300px) {
            gap: 0;
            flex-direction: column;
        }

        &-icon {
            font-size: 22px;
            cursor: pointer;
            &:hover {
                color: #252525b6;
            }
        }

        &-burger {
            display: flex;
            flex-direction: column;
            gap: 6px;
            padding: 0;
            background-color: transparent;
            border: none;
            cursor: pointer;
            
            &-line {
                background-color: black;
                width: 20px;
                height: 2px;
            }
        }
    }
}