@use './reset';
@use './header';
@use './main';
@use './footer';
@use './container';

body {
    font-family: 'Poppins', sans-serif;

    @media (min-width: 430px) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}