@use './reset';
@use './header';
@use './main';
@use './footer';

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}