
.icon-signal:before { content: '\e800'; } /* '' */
.icon-bat-charge:before { content: '\e801'; } /* '' */
.icon-lock:before { content: '\e802'; } /* '' */
.icon-doc-add:before { content: '\e803'; } /* '' */
.icon-grid:before { content: '\e804'; } /* '' */
.icon-user-add-outline:before { content: '\e805'; } /* '' */
.icon-plus-circle:before { content: '\e806'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
